In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
X_train = pd.read_csv('../data/cleaned_X_train.csv')
X_test = pd.read_csv('../data/cleaned_X_test.csv')

In [3]:
X_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,693,1,3,"Lam, Mr. Ali",male,28.5,0,0,1601,56.4958,NaN,S
1,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,28.5,0,0,239854,0.0000,NaN,S
2,856,1,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.0,0,1,392091,9.3500,NaN,S
3,802,1,2,"Collyer, Mrs. Harvey (Charlotte Annie Tate)",female,31.0,1,1,C.A. 31921,26.2500,NaN,S
4,653,0,3,"Kalvik, Mr. Johannes Halvorsen",male,21.0,0,0,8475,8.4333,NaN,S

In [4]:
X_test.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,566,0,3,"Davies, Mr. Alfred J",male,24.0,2,0,A/4 48871,24.1500,NaN,S
1,554,1,3,"Leeni, Mr. Fahim (""Philip Zenni"")",male,22.0,0,0,2620,7.2250,NaN,C
2,861,0,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,NaN,S
3,242,1,3,"Murphy, Miss. Katherine ""Kate""",female,27.0,1,0,367230,15.5000,NaN,Q
4,560,1,3,"de Messemaeker, Mrs. Guillaume Joseph (Emma)",female,36.0,1,0,345572,17.4000,NaN,S

# New Features

In [5]:
import sys
sys.path.append("../src")

from features import new_features

In [6]:
X_train = new_features(X_train)
X_test = new_features(X_test)

In [7]:
X_train.groupby('FamilySize')['Survived'].mean()

FamilySize
1    0.273210
2    0.483516
3    0.530612
4    0.642857
5    0.000000
6    0.076923
7    0.333333
8    0.000000
Name: Survived, dtype: float64

In [8]:
X_train.groupby('IsAlone')['Survived'].mean()

IsAlone
0    0.439153
1    0.273210
Name: Survived, dtype: float64

In [9]:
X_train.groupby('HasCabin')['Survived'].mean()

HasCabin
0    0.272541
1    0.679487
Name: Survived, dtype: float64

# Encode Categorical Variables

In [10]:
X_train['Sex'].value_counts()

Sex
male      384
female    182
Name: count, dtype: int64

In [11]:
X_test['Sex'].value_counts()

Sex
male      84
female    41
Name: count, dtype: int64

In [12]:
X_train['Embarked'].value_counts()

Embarked
S    431
C     84
Q     51
Name: count, dtype: int64

In [13]:
X_test['Embarked'].value_counts()

Embarked
S    87
Q    20
C    18
Name: count, dtype: int64

In [15]:
from features import encoding

In [16]:
X_train = encoding(X_train)
X_test = encoding(X_test)

In [17]:
X_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,HasCabin,FamilySize,IsAlone,Embarked_C,Embarked_Q,Embarked_S
0,693,1,3,"Lam, Mr. Ali",0,28.5,0,0,1601,56.4958,NaN,0,1,1,False,False,True
1,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",0,28.5,0,0,239854,0.0000,NaN,0,1,1,False,False,True
2,856,1,3,"Aks, Mrs. Sam (Leah Rosen)",1,18.0,0,1,392091,9.3500,NaN,0,2,0,False,False,True
3,802,1,2,"Collyer, Mrs. Harvey (Charlotte Annie Tate)",1,31.0,1,1,C.A. 31921,26.2500,NaN,0,3,0,False,False,True
4,653,0,3,"Kalvik, Mr. Johannes Halvorsen",0,21.0,0,0,8475,8.4333,NaN,0,1,1,False,False,True

# Drop columns

In [18]:
from features import drop_features

In [19]:
X_train = drop_features(X_train)
X_test = drop_features(X_test)

In [20]:
X_train.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,HasCabin,FamilySize,IsAlone,Embarked_C,Embarked_Q,Embarked_S
0,1,3,0,28.5,0,0,56.4958,0,1,1,False,False,True
1,0,2,0,28.5,0,0,0.0000,0,1,1,False,False,True
2,1,3,1,18.0,0,1,9.3500,0,2,0,False,False,True
3,1,2,1,31.0,1,1,26.2500,0,3,0,False,False,True
4,0,3,0,21.0,0,0,8.4333,0,1,1,False,False,True

In [21]:
X_train.to_csv('../data/Featured_X_train.csv', index=False)
X_test.to_csv('../data/Featured_X_test.csv', index=False)